@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/_fonts";
@import "utils/bem_whiteButton";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {

  }
  @media screen and (max-width: $tableWidth) {

  }
  @media screen and (max-width: $phoneWidth) {

  }
}

body {
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  #main{
    background-image: none;
  }
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img{
  max-width:100%;
}

  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }

@import "modules/header.scss";
@import "modules/wrapper.scss";
@import "modules/footer.scss";









