// Font
$mainFont                :TitilliumWeb, Arial, sans-serif;

// Size
$mainFontColor           : #484848;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.5;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$main-site-color           : #00b3b7;
$square-bold-color         :#9cb806;
$square-shadow-color		:rgba(134,134,134,0.21);

$transition_function   	: .5s ease-in-out;
$button_border_width  	: 3px;  
$button_border_radius	: 22px;
$button_font_color		: #808285;

//header css
$burger_height:3px;
$burger_width:25px;
$burger_color:#222;
$menu_font_size:14px;
$menu_item_horizontal_padding:10px;
$menu_item_vertical_padding:40px;

